#search
{
  width:100%;
  height:100%;
  top:0;
  left:0;
  position:fixed;
  display:none;
  background:var(--light);
  z-index:999;
  text-align:center;

  ul, input {
    min-width:20rem;
    width:50vw;
  }
  ul {
    margin:auto;
    margin-top:-1px;
    padding:0;
    overflow-y:auto;
    max-height:60vh;
    border-bottom:2px solid var(--dark);

    i {
      margin-right:0.5rem;
    }

    &::-webkit-scrollbar {
      width:8px;
      background-color:var(--light);
    }
    &::-webkit-scrollbar-thumb { background-color:var(--dark); }
  }

  &.active{ display:flex; }
}

.search-box {
  margin:auto;
  margin-top:2rem;

  mark { 
    margin-bottom:1rem;
    opacity:0.8;
    font-size:1.5rem;
    font-weight:200;
    display:block;
  }

  input {
    font-size:1.25rem;
    padding:8px;
    border:2px solid var(--dark);
    color: var(--dark);
    background:none;
  }
}

.input-box {
  position:relative;

  &:before, 
  &:after {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-1;
  }
  &:before { background:(--light); }
  // &:after { background-image:url($baseurl + '/assets/img/tile.png'); }

  button {
    position:absolute;
    display:none; 
    cursor:pointer;
    top:0;
    right:8px;
    width:22px;
    aspect-ratio:1.0;
    border-radius:50%;
    transform:translateY(50%);
    font-size:14px;
    background:var(--dark) !important;

    svg { 
      fill:var(--light) !important;
      width:14px;
    }

    &:hover {
      background:var(--light) !important;
      svg {fill:var(--dark) !important};
    }
  }
}

.result-item {
  list-style:none;
  text-align:justify;
  padding:8px;
  background:var(--light);

  &:hover { 
    background:var(--accent); 
      
    svg{background-color: var(--light);}
    th,td{color: var(--light);}
    .highlight{color: var(--light);}
  }

  table {
    th, td { 
      color: var(--dark);
      text-align:left;
      vertical-align:top;
    }
    th { font-size:1rem; }
    td { font-size:0.875rem; }

    svg {
      background-color:var(--dark);  
      mask-repeat:no-repeat;
      display:inline-flex;
      width:14px;
      margin-right:8px;
      transform:translateY(2px);
    }
    .ico-book {
      -webkit-mask-image:url($baseurl + '/assets/img/icon/book-solid.svg');
      mask-image:url($baseurl + '/assets/img/icon/book-solid.svg');
    }
    .ico-folder {
      -webkit-mask-image:url($baseurl + '/assets/img/icon/folder-open-regular.svg');
      mask-image:url($baseurl + '/assets/img/icon/folder-open-regular.svg');
    }
    .ico-tags {
      -webkit-mask-image:url($baseurl + '/assets/img/icon/tags-solid.svg');
      mask-image:url($baseurl + '/assets/img/icon/tags-solid.svg');
    }
    .ico-calendar {
      -webkit-mask-image:url($baseurl + '/assets/img/icon/calendar-days-regular.svg');
      mask-image:url($baseurl + '/assets/img/icon/calendar-days-regular.svg');
    }
    .ico-book, th .ico-folder { width:18px; }

  }

  .highlight {
    font-weight:900;
  }
}

@include mq(tablet) {

#search {
  ul, input { width:40rem; }
  ul {
    div { font-size:1.125rem; }
    i { margin-right:1rem; }
  }
}

.search-box { 
  margin-top:4rem; 

  mark { 
    font-size:2.5rem;
    margin-bottom:2rem;
  }
}

.search-box input {
  font-size:2rem;
  padding:1rem;
  width:40rem;
}

.input-box button {
  width:36px;
  right:16px;

  svg { width:20px; }
}

.result-item {
  padding:1rem;

  table {
    th { font-size:1.25rem; }
    td { font-size:1rem; }

    svg { width:16px; }

    .ico-book, th .ico-folder { width:20px; }
  }

  .title { font-size:1.25rem; }
}

}