.sidebar {
  z-index:1;
  flex-wrap:wrap;

  ul, li {
    list-style:none;
  }
}

.sidebar-left {
  display:flex;
  background-color:var(--light);
}

.side-banner {
  width:100%;
  text-align:center;
  background-color: var(--dark);
  padding-bottom: 2rem;

  button {
    position:absolute;
    height:100%;
    aspect-ratio:1;
    background-color: var(--dark);
    top:0;

    svg { 
      width:20px; fill: var(--light); 
      &:hover {fill:var(--accent);}
    }

  }
  #btn-nav { right:0; }
  #btn-search { right:38px; }
  #btn-brightness { right:76px; }

  .ico-dark {
    display:block;
    &.active{ display:none; }
  }
  .ico-light {
    display:none;
    &.active{ display:block; }
  }
}

.site-tab img { display: none; }

.site-avatar {
  img {
    display:none;
    width:9rem;
    aspect-ratio:1;
    transition:.3s;

    &:hover {
      width: 9.6rem;
    }
  }
}

.site-tab {
  padding:8px;
  font-size:1rem;
  text-align:left;
  position:relative;

  a, span { letter-spacing:2px; }

}

.side-info {
  position:relative;
  width:100%;
}

.sidebar-right{ display:none; }

.tools {
  position:fixed;
  top:1rem;

  button {
    width:2.75rem;
    aspect-ratio:1;
    text-align:center;
    background:var(--dark);
    border:none;
    border-radius:50%;
    margin-left:1rem;
    position:relative;
    vertical-align:top;
    cursor:pointer;

    &:hover {
      border:3px solid var(--accent);
    }
  }

  svg {
    fill: var(--light) !important;
    width:24px;
    position:relative;
    transition:all .3s;
  }
  .ico-dark, .ico-light { 
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
  }
  .ico-dark {
    transform:translate(-50%, -50%) scale(1);
    &.active{ transform:translate(-50%, -50%) scale(0); }
  }
  .ico-light {
    transform:translate(-50%, -50%) scale(0);
    &.active{ transform:translate(-50%, -50%) scale(1); }
  }
}

@include mq(tablet){

  .side-banner {
    button { font-size:1.75rem; }
    #btn-search { right:60px; }
    #btn-brightness { right:120px; }
  }

  .site-tab { 
    padding:1rem;
    font-size:1.375rem; 
  }

  .site-name{
    mark{color:var(--light);}

    &:hover {
      mark { 
        color:var(--accent);
      }
    }
  }
  
}


@include mq(desktop){

  .sidebar { position:fixed; }

  .sidebar-left{
    flex-flow:column nowrap;
    width:#{$sidebarwd};
    min-height:100%;
    background:none;
    align-items:flex-end;
  }

  .side-banner{
    width:#{$sidebarwd};

    button {
      display:none;
      font-size:1.5rem;
    }
    #btn-search { right:69px; }
    #btn-brightness { right:138px; }
  }

  .site-avatar img { display:inline-block; }

  .site-tab {
    font-size:1.375rem;
    padding:1rem;
    text-align:center;
    position:relative;
  }

  .site-name {
    position:relative;
  }

  .side-info {
    width:#{$sidebarwd};
    height:calc(100% - 14rem);
    display:contents;
  }

  .sidebar-right{
    display:flex;
    height:100%;
    margin-left:calc(var(--pagewidth-desktop) + #{$sidebarwd}/2);
  }

}


@include mq(wide){

.sidebar-left{ width:calc((100vw - #{$contentwd})/2); }
.sidebar-right{
  width:calc((100vw - #{$contentwd})/2);
  margin-left:calc(#{$contentwd} + (100vw - #{$contentwd})/2);
}

}