---
---

body {
  margin:0;
}

.blank-page {
  background:var(--light);
  width:100vw;
  vertical-align:middle;

  .not-found-msg { 
    margin-top:26vh;
    text-align:center; 
    a
    {
      color: var(--light);
      background-color: var(--dark);
      border-radius:3rem;
      padding:0.5rem 1rem 0.5rem 1rem;
      font-weight: 700;
      &:hover{background-color: var(--accent);}
    }
  }

  .sour-face {
    font-size:5rem;
    line-height:1;
  }
}

.container { display:none; }