---
---
$baseurl: "{{ site.baseurl }}";

:root,[data-theme=light] {
  --color-bg: #fff;
  --color-text: #3A241A;
  --colour-svg: #3A241A;
  --color-box: #F1EBE5;
  --color-accent: #B04008;
  --color-hover: #fa4251;
  --color-rule: burlywood;
  --color-link: dodgerblue;
  --color-link-hover:lightseagreen;
  --color-aqua: #64c8c8;
  --color-goldenrod: gold;
  --color-darkgoldenrod: goldenrod;

}

[data-theme=dark] {
  --color-bg: #1E1E1F;
  --color-text: #f1eeec;
  --colour-svg: #3A241A;
  --color-box: #F1EBE5;
  --color-accent: #B04008;
  --color-hover: #fa4251;
  --color-rule: burlywood;
  --color-link: dodgerblue;
  --color-link-hover:lightseagreen;
}

$sidebarwd: 18rem;
$contentwd: 54rem;

$mediawd: (
  mobile: 0px,
  tablet: 769px,
  desktop: 1025px,
  wide: 1441px,
) !default;

html, body {
  margin:0;
  padding:0;
  background: var(--color-bg);
}

.fonts-loaded {
  a, span, p, dd, dt, blockquote, legend { font-family:"Nunito Sans", 'Lucida Sans', sans-serif; }
  h1, h2, h3 { font-family:"Lato", Helvetica, sans-serif; }
  mark { font-family:'Righteous', sans-serif; }
}

a { text-decoration:none; }
a, span, p, h1, h2, h3, i, dd, dt, blockquote { color:var(--color-text); }
a, span, p { font-family:'Lucida Sans', sans-serif; }
h1, h2, h3, mark {
  margin:0;
  font-family:Helvetica, sans-serif;
}
mark { background-color:transparent; }

li::marker{
  color: var(--color-text);
}

svg {
  width:16px;
  aspect-ratio:1.0;
  fill: var(--color-text);
  display:block;
  margin:auto;
}

button {
  border:none;
  background:none;
  padding:0;
}

/* Disable default input cancel button */
input::-ms-clear,
input::-ms-reveal{
	display:none;
  width:0;
  height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

@mixin img-rounded-thumb {
  img {
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 18px;
  }

  @include mq(mobile){
    img{ min-width: 6rem; max-width: 6rem; }
  }

  @include mq(tablet) {
    img{ min-width: 8rem; max-width: 8rem }
  }
}

@import 'layout';

:root{
  --pagewidth-desktop:calc(max(min(100vw - #{$sidebarwd} - 2rem, #{$contentwd}), 44rem));
}

@import "sidebar";
@import "navigation";
@import "pagination";
@import "toc";
@import "post";
@import "search";
// @import "darkmode";
@import "character";